			<footer>

			<section>

			<!-- <div class="elsewhere">

			<h5 class="footer"> Elsewhere on the web</h5>

			<ul class="cols">
				<li><a href="https://foursquare.com/gavinwye" rel="me">Foursquare</a></li>
				<li><a href="https://github.com/gavinwye" rel="me">Github</a></li>
				<li><a href="https://plus.google.com/u/0/112616323023216834121/posts" rel="me">Google +</a></li>
				<li><a href="https://gavinwye.jux.com/" rel="me">Jux</a></li>
				<li><a href="http://www.meetup.com/members/8427678/" rel="me">Meetup</a></li>
				<li><a href="http://www.slideshare.net/gavinwye" rel="me" title="A social network for slides" target="_blank">Slide Share</a></li>
				<li><a href="https://vimeo.com/gavinwye" rel="me">Vimeo</a></li>
				<li><a href="https://www.vizify.com/gavin-wye" rel="me">Visify</a></li>
				<li><a href="http://www.think.eu/people/article/gavin-wye" rel="me">Work</a></li>
				<li><a href="https://workfu.com/gavinwye" rel="me" title="Helps you get work" target="_blank">Workfu</a></li>
				<li><a href="https://twitter.com/gavinwye" rel="me">Twitter</a></li>
				<li><a href="http://www.linkedin.com/in/gavinwye" rel="me">Linked In</a></li>
				<li><a href="http://www.readability.com/gavinwye/" rel="me" title="Stuff I really should get round to reading">Readability</a></li>
				<li><a href="#" rel="me">Flickr</a></li>
				<li><a href="#" rel="me">Lanyrd</a></li>
				<li><a href="#" rel="me">Upcomming</a></li>
				<li><a href="#" rel="me">About.me</a></li>
				<li><a href="#" rel="me">Vine</a></li>
				<li><a href="#" rel="me">Delicious</a></li>
				<li><a href="#" rel="me">Facebook</a></li>
			</ul>

			</div> -->

			<div class="about-me">

			<h5 id="AboutMe">About Me</h5>

			<img src="/assets/images/gavin-wye.jpg">

			<p >My name is Gavin Wye I'm a User Experience Designer and Consultant with 10 years experience. In the past I have worked with client such as Nando's, J.K.Rowlings' Pottermore, Visa, Channel4 and National Rail Enquiries.</p>

			<p>I live in Tynemouth a small village on the North East coast of England.</p>

			<p>Follow me on <a href="http://www.twitter.com/gavinwye" rel="me">Twitter</a> for general waffle.</p>

			</div>



			</section>

			</footer>
		<!-- </div> -->



    </body>
</html>
