<nav>
<ul class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/experiments/">Experiments</a></li>
	<li><a href="/guiding-principles/">Guiding Principles</a></li>
	<!-- <li><a href="/links/">Links</a></li> -->
	<!-- <li><a href="{{ site.baseurl }}/about/">About</a></li> -->
	<li><a href="/post-archive/">Post Archive</a></li>
</ul>
<!-- <ul class="post-nav">
	<li><a href="#"><img class="left-arrow" src="/assets/images/left-arrow.png"></a></li>
	<li><a href="#"><img class="right-arrow" src="/assets/images/left-arrow.png"></a></li>
</ul> -->


</nav>