{% include _header.html %}
<!-- <section>
	<article> -->
	<p>page.html</p>
		<h1>{{ page.title }}</h1>
		<p class="meta">{{ page.date }}</p>
		{{ content }}
		<section>
			<p>
				<a href="https://twitter.com/share">Comment on Twitter</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</p>
		</section>
<!-- 	</article>
</section> -->
{% include _footer.html %}
