body {
	font-family: skolar;
	font-size: 16px;
	line-height: 25px;
	/*background-color: rgba(237,237,237,1);*/
	font-style: normal;
	font-weight: 400;
	color: rgba(81,81,81,1);
	color: white;
}

header {
	margin: 0 auto;
	/*width: 670px;*/
	padding-top: 36px;
	padding-bottom: 36px;
	margin-bottom: 36px;
	border-bottom: solid 2px rgba(173,57,53,1);
	background-color: rgba(237,237,237,1);
}

section, nav, header div {
	margin: 0 auto;
	width: 670px;
}


.about-me, .elsewhere{
	width: 50%;
	margin: 0px 0px 0px 60px;
}

.about-me {
margin-left: 0px;
}

.elsewhere {
	float: right;
	/*margin-left: 40px;*/
}

nav {
/*margin-top: -36px;*/
margin-bottom: 36px;
/*border-bottom: solid 2px rgba(173,57,53,1);*/
/*margin: 0 auto;*/
}

.post-nav {
	margin-bottom: -72px;
	/*margin-bottom: -100px;*/
	padding-top: 30px;
}

.left-arrow {
	float: left;
	margin-top: -7px;
	margin-left: -200px;
	/*padding-top: 60px;*/
	/*margin-right: 30px;*/
	/*margin-top: 31px;*/
}


.right-arrow {
	float: right;
	margin-top: -7px;
	margin-right: -200px;
	/*padding-top: 60px;*/
	/* Safari */
	-webkit-transform: rotate(180deg);
	/* Firefox */
	-moz-transform: rotate(180deg);
	/* IE */
	-ms-transform: rotate(180deg);
	/* Opera */
	-o-transform: rotate(180deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


blockquote {
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 32px;
	line-height: 50px;
	text-align: left;
	text-indent: 16px;
	color: rgba(140,138,138,1);
}


h1 {
	font-size: 59px;
	line-height: 73px;
	margin-bottom: 36px;
	font-style: italic;
	font-weight: 900;
	font-family: freight-sans-pro;
	color: rgba(81,81,81,1);
	text-transform: capitalize;
}

section h1 a{
	text-decoration: none;
	color: rgba(81,81,81,1);
}

h2 {
	margin-top: 0px;
	margin-bottom: 36px;
	font-size: 38px;
	line-height: 36px;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-style: italic;
	font-weight: 900;
	font-family: freight-sans-pro;
	color: rgba(81,81,81,1);
}


p a:link {
	text-decoration: none;
	color: rgba(173,57,53,1);
}

p a:visited {
	color: rgba(173,57,53,1);
}


p a:hover {
	color: rgba(173,57,53,1);
}


p, ol, ul {
	text-indent: 0em;
	margin-bottom: 36px;
	line-height: 36px;
	font-size: 25px;
	color: rgba(81,81,81,1);
	font-family: skolar;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}

ol li{
	list-style: decimal;

}

ul li{
	list-style: disc;
}


p.author {
	text-indent: 0px;
	margin-bottom: 12px;
	font-size: 16px;
	letter-spacing: 0px;
	color: rgba(237,21,14,1);
	line-height: 34px;
	text-align: left;
	font-weight: 600;
	font-style: normal;
	margin-top: -12px;
	padding-left: 280px;
	/*border-bottom: solid 2px;*/
	/*border-bottom-width: 2px;*/
	/*border-style: solid;*/
	/*padding-right: 100px;*/
	/*border-color: rgba(173,57,53,1);*/
	width: 92.388059701493%;
}


p.intro {
	text-indent: 0px;
	margin-bottom: 36px;
	line-height: 36px;
	font-size: 25px;
	letter-spacing: 0px;
	/*font-family: skolar;*/
	font-weight: 600;
	font-style: normal;
	color: rgba(81,81,81,1);
}


p.first {
	margin-bottom: 25px;
	line-height: 36px;
	font-size: 18px;
}


p.callout {
	text-indent: 0em;
	margin-bottom: 36px;
	font-size: 26px;
	line-height: 36px;
	border-left: solid 5px rgba(173,57,53,1);
	padding-left: 15px;
	margin-left: 0px;
	font-weight: 400;
	font-style: italic;
}


div {
	font-style: normal;
	font-weight: 400;
	font-family: skolar;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 150px;
	margin-right: 150px;
}


h3 {
	line-height: 36px;
	font-style: italic;
	font-weight: 700;
	font-family: freight-sans-pro;
	font-size: 26px;
	margin-bottom: 36px;
	text-transform: capitalize;
	color: rgba(81,81,81,1);
}


h4 {
	line-height: 36px;
	margin-bottom: 36px;
	font-weight: 700;
	font-style: italic;
	font-size: 24px;
	font-family: freight-sans-pro;
	text-transform: capitalize;
	color: rgba(81,81,81,1);
}


h1.title {
	font-size: 55px;
	margin-bottom: 0px;
	color: rgba(35,126,196,1);
	padding-left: 0px;
	/*text-align: center;*/
	text-align: left;
}


nav ul li {
	display: inline;
	text-align: left;
}


nav ul {
	padding-left: 0px;
}


nav ul li a:link, footer ul li a:link {
	color: rgba(173,57,53,1);
	text-decoration: none;
}


nav ul li a:visited, footer ul li a:link {
	color: rgba(173,57,53,.9);
}


nav ul li a:hover, footer ul li a:link {
	color: rgba(173,57,53,1);
}


nav ul li, footer ul li a:link {
	text-transform: capitalize;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 34px;
}


nav li {
	margin-right: 15px;
}

.elsewhere ul {
	margin-left: -40px;
	font-size: 18px;
	line-height: 26px;
}

p.meta a:link {
	text-decoration: none;
	color: rgba(173,57,53,1);
}


p.meta a:visited {
	color: rgba(173,57,53,.9);
}


p.meta a:hover {
	color: rgba(173,57,53,1);
}


p.meta {
	text-align: left;
	font-style: normal;
	font-weight: 400;
	font-family: skolar;
	font-size: 14px;
	margin-top: -36px;
	margin-bottom: 36px;
}

footer{
	border-top: solid 1px rgba(173, 57, 53, 1);
	margin-top: 72px;
	background-color: rgba(237,237,237,1);
}

footer h5/*.footer*/ {
	margin-bottom: 0px;
	margin-top: 0px;
	line-height: 36px;
	padding-top: 36px;
	font-size: 20px;
	color: rgba(173, 57, 53, 1);
	font-family: "skolar",serif;
	font-style: normal;
	font-weight: 800;
	text-transform: capitalize;

}


footer p a:link {
	color: rgba(173,57,53,1);
	text-decoration: none;
}


footer p a:visited {
	color: rgba(173,57,53,.8);
}


footer p a:hover {
	text-decoration: none;
	color: rgba(173,57,53,1);
}


footer p {
	font-size: 18px;
	/*width: 50%;*/
	line-height: 26px;
	margin-bottom: 26px;
}


footer div:last-child {
	padding-bottom: 72px;
}

footer img {
	float: left;
	width: 100px;
	margin-right: 16px;
	margin-left: -124px;
	margin-top: 25px;
	border: solid;
	border-width: 4px;
}

footer .cols {
		width: 75%;
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
	}

footer ul li a:link{
	font-size: 18px;
}

.highlight{
	color: rgba(173,57,53,1);
	
}

/*footer ul li {
	display: 
}*/

.mobile {
	padding-left: 15px;
	padding-right: 15px;
}


.mobile h1 {
	font-size: 31px;
	line-height: 36px;
}


.mobile p {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 26px;
}


.mobile h2 {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 26px;
}


.mobile h3 {
	font-size: 22px;
}


.mobile h1.title {
	font-size: 29px;
}


.mobile p.author {
	font-size: 12px;
	line-height: 36px;
	margin-top: -10px;
	letter-spacing: 0px;
	padding-right: 20px;
	width: 95.625%;
}


.mobile p.nav {
	font-size: 18px;
	margin-bottom: 0px;
}


.mobile p.intro {
	font-size: 21px;
}


.mobile p.meta {
	font-size: 12px;
	margin-bottom: 0px;
}


.mobile p.callout {
	line-height: 30px;
	border-left-width: 3px;
	border-style: solid;
	padding-left: 10px;
	margin-left: 0px;
}


.mobile p.footer {
	line-height: 22px;
	width: 100%;
	font-size: 16px;
	margin-bottom: 12px;
}


.mobile h5.footer {
	line-height: 30px;
	padding-top: 30px;
}


